%head
  %link{:href => "https://fonts.googleapis.com/css?family=Montserrat|Cardo", :rel => "stylesheet", :type => "text/css"}/
  %header.main_h
    .row
      %a.logo{:href => "http:https//www.nurlanemir.com/"}
      .mobile-toggle
        %span
        %span
        %span
      %nav
        %ul
          %li
            %a{:href => ".sec01"} Projects
    / / row
%body
  .hero
    %h1
      %span "Talk is cheap. Show me the code"
      = succeed "Developer :: Designer" do
        %br/
    .mouse
      %span
.row.content
  %h1.sec01 Projects
  .projects
    - data.projects.each do |project|
      %h4= project[:name]
      %p= project[:description]
      - if project[:github] != nil
        %a{:href => "#{project[:github]}", :target => "_new"} Github
        %br
      - if project[:published] != nil
        %a{:href => "#{project[:published]}", :target => "_new"} Published
